.terraform/
*.tfstate
*.tfstate.*
.tfvars
*.exe
*.zip
*.tar.gz
*.tgz
*.log
*.retry
*.pyc
__pycache__/
.DS_Store
Thumbs.db
.env
.crash/
.terraformrc
terraform.rc
.terraform.lock.hcl
.terragrunt-cache
.molecule/
testing/